
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@-webkit-keyframes circle {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(359deg);}
}
@keyframes circle {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
}


* {
	box-sizing : border-box;
}

.clearfix {
    overflow: auto;
}

#container {
	
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;

	.loading-icon {
		position: fixed;
		left: 50%;
		top: 200px;
		width: 60px;
		height: 60px;
		margin: -30px 0 0 -30px;
		border:10px solid #ccc;
	    border-radius:50%;
	    -webkit-border-radius:50%;
	    border-left-color:#ffe326;
	    -moz-animation: circle 1s infinite linear;
	    -o-animation: circle 1s infinite linear;
	    -webkit-animation: circle 1s infinite linear;
	    animation: circle 1s infinite linear;

	    &.show {
	    	display: block;
	    }

	    &.hide {
	    	display: none;
	    }
	}
	
	.albums-container {
		position: relative;
		width: 100%;
		min-height: 400px;

		@media all and (min-width : 840px) {
			width : 840px;
			margin: 0 auto;
		}

		.albums {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: auto;

			.album-list {
				position: relative;
				width:400px;
				float:left;
				height: auto;

				.album-item {
					width: 100%;
					height: 80px;
					padding: 10px;
					background:#CDF0F6;
				    border:1px solid #d4d4d4;
				    border-radius:4px;
				    list-style-type:none;
				    margin:4px;
				    padding:12px;

				    &.selected {
						background:#d4d4d4;
				    }

					.album-item-title {
						display: block;
						font-size: 18px;
						font-weight: 900;
					}
					.album-item-name {
						display: block;
						color: #333;
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}
			.photo-list {
				margin-left:416px;
				height: 100%;

			    &.show {
			    	@include vendor-prefix(transform, translateX(-100%) translateZ(0));
			    }

				.photo-item {

					position: relative;
					width: 100%;
					height: 300px;
					background:#CDF0F6;
				    border:1px solid #d4d4d4;
				    border-radius:4px;
				    list-style-type:none;
				    margin:4px;
				    padding:12px;

					span {
						display: inline-block;
						padding: 10px;
					}

					.thumbnail {
						display: block;
						width: 150px;
						height: 150px;
					}

					.full-size {
						position: absolute;
						left: 50%;
						top: 50%;
						width: 300px;
						height: 300px;
						margin: -150px 0 0 -150px;
					    @include vendor-prefix(transform, scale(1));
					    @include vendor-prefix(transition, all 0.5s ease);

					    &.hidden {
						    @include vendor-prefix(transform, scale(0));
					    }
					}

				}
			}
		}
	}
}